#works {
	padding: 50px;
	text-align: center;

}

#works h2 {
	padding-top: 40px;
	padding-bottom: 30px;
}

#works .filters {
	margin-top: 30px;
	width: 70%;
	margin-left: 15%;
	color: #fff;
	border-radius: 3px;
	font-weight: 300;
}

#works .filters ul li {
	padding: 10px;
	cursor: pointer;
	transition: 300ms all ease-out;
	color: #777;
}

#works .filters .active {
	color: var(--main-color);
	font-weight: 500;
	transform: scale(1.1);
}

#works .projects .card {
	text-align: left;
	color: #333;
	text-decoration: none;
	border-radius: 0;
	border: none;
}

#works .projects .card .img {
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	border-radius: 0;
	border: none;
	background: black
}

#works .projects .card .img img {
	max-width: 100%;
	aspect-ratio: 16 / 9;
	opacity: .7
}

#works .projects .card .img:hover img {
	opacity: 1;
	transform: scale(1.1);
	transition: 1s;
}

#works .projects .card .card-body {
	padding-left: 0;
	text-transform: uppercase;
	position: absolute;
	bottom: -50px;
	left: 5%;
	font-size: 20px;
	color: #fff;
	opacity: 0;
	transition: 300ms;
}

#works .projects .card:hover .card-body {
	opacity: 1;
	bottom: 0
}

#project {
	background: black;
}

#project .projects .card {
	border: none;
	transition: 300ms all;
	background: transparent;
	position: relative;
}

#project .projects .card .img {
	width: 100%;
	aspect-ratio: 9 / 12;
	overflow: hidden;
	opacity: .7;
	transition: 0 opacity, 300ms transform;
}

#project .projects .card:hover .img {
	opacity: 1;
	transform: scale(1.01);
	position: relative;
	z-index: 5;
}

#project .projects .card .img img {
	width: auto;
	aspect-ratio: 9 / 12;
}

#project .projects .card-body {
	width: 100%;
	position: absolute;
	top: -20px;
	opacity: 0;
	color: #fff;
	line-height: 44px;
	padding-top: 10px;
	padding-bottom: 0;
}

#project .projects .card:hover .card-body {
	transition: 800ms;
}

#project .projects .card:hover .card-body {
	position: absolute;
	bottom: -53px;
	opacity: 1;
	top: 0px;
	z-index: 10;
}

#project .projects .card-body > svg {
	font-size: 2em;
	margin-right: 10px;
}

#project .projects .btn {
	color: #fff;
	padding: 8px 10px 8px 10px;
	margin-right: 10px;
	font-size: 12px;
	text-align: left;
	transition: 300ms;
}

#project .projects .btn:hover {
	padding: 8px 20px 8px 10px;
}
