#slider {
	position: relative;
	margin-top: -87px;
	height: calc(100vh + 5px);
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#slider .swiper-container {
	width: 100%;
	height: 100%;
	background: #000;
}

#slider .swiper-slide {
	background: black;
	font-size: 18px;
	color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
}

#slider .parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	opacity: .7;
}

#slider .swiper-slide .title {
	color: #fff;
	font-size: 41px;
	font-weight: 600;
	position: absolute;
	top: 35%;
	left: 15%;
	padding: 0;
	text-transform: uppercase;
}

#slider .swiper-slide .title::first-letter {
	color: var(--main-color);
	font-size: 1.2em;
	margin-right: .05em;
}

#slider .swiper-slide .subtitle {
	font-size: 21px;
	position: absolute;
	top: 45%;
	left: 15%;
}

#slider .swiper-slide .text {
	font-size: 14px;
	max-width: 400px;
	line-height: 1.3;
	position: absolute;
	top: 53%;
	left: 15%;
	text-align: left;
}

