@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container *::-webkit-scrollbar {
	border-radius: 3px;
	width: 6px;
}

.container *::-webkit-scrollbar-track {
	background: #ccc;
}

.container *::-webkit-scrollbar-thumb {
	background-color: #333;
	outline: 1px solid slategrey;
	margin: 0 auto;
	border-radius: 3px;
}

header {
	position: relative;
	z-index: 5;
	/* transition: 300ms; */
}

header .navbar {
	background-color: transparent;
	padding: 0;
	top: -1px;
}

header .navbar-light .navbar-brand {
	color: #000000e6;
	background: #fff;
	padding-left: 1.3em;
	padding-right: 1.3em;
	padding-bottom: 1.3em;
	padding-top: 1em;
	border-radius: 0 0 10px 10px;
	margin-right: 0;
}

header .navbar-light .navbar-brand img {
	height: 40px;
}

header .navbar-light .white {
	display: none;
}

header .navbar-light .navbar-nav .nav-link,
header .navbar-nav > li > a:hover,
header .navbar-light .navbar-nav .nav-link.active
{
	color: #fff;
	text-transform: uppercase;
	position: relative;
	padding: 0;
	margin: 0 .8em;
	padding-right: 1em;
}

header .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
	cursor: pointer;
}

header .navbar-light .navbar-nav .nav-link:before,
header .navbar-light .navbar-nav .nav-link:before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 2px;
	width: 0;
	background: #fff;
	transition: 250ms ease-in;
}

header .navbar-light .navbar-nav .nav-item:focus .nav-link:before,
header .navbar-light .navbar-nav .nav-item:hover .nav-link:before {
	width: 70%;
}


header .navbar-light .navbar-nav .nav-link:after,
header .navbar-light .navbar-nav .nav-link:after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	height: 2px;
	width: 0;
	background: #fff;
	transition: 250ms ease-out;
}

header .navbar-light .navbar-nav .nav-item:focus .nav-link::after,
header .navbar-light .navbar-nav .nav-item:hover .nav-link::after {
	width: 100%;
}

header .head {
	height: 30px;
	padding-top: 7px;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	font-size: 10px;
	display: none;
}

header .head .languages {
	float: left;
	margin-right: 10px;
}

header .head .languages ul {
	display: none;
}

header .head .social {
	font-size: 15px;
	position: relative;
	top: -7px;
}

header .head .social li a {
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #888;
	margin-top: 2px;
	display: inline-block;
	position: relative;
	transition: 1s background ease-out, 300ms color;
}

header .head .social li a:hover {
	color: #333;
}

header .head .social li a::before,header .head .social li a::after {
	content: '';
	position: absolute;
	width: .5px;
	height: 0;
	top: 0;
	left: 0;
	background: #4e4e4e;
	transition: 300ms height;
}
header .head .social li a::after {
	left: auto;
	top: auto;
	right: 0;
	bottom: 0;
}

header .head .social li a:hover::before,header .head .social li a:hover::after {
	height: 100%;
}

.fixed {
	padding-top: 87px;
}

.fixed header {
	background-color: #4e4e4e;
	background-color: rgba(0,0,0,.8);
	background-color: #f9f9f9;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

.fixed header .navbar-light .navbar-brand {
	padding: 5px 1.3em;
	background: transparent
}

.fixed header .navbar-light .navbar-brand img {
	height: 40px;
}
/*
.fixed header .navbar-light .white {
	display: block;
}

.fixed header .navbar-light .black {
	display: none;
}

*/
.fixed header .navbar-light .navbar-nav .nav-link,
.fixed header .navbar-nav > li > a:hover,
.fixed header .navbar-light .navbar-nav .nav-link.active {
	color: #2e2e2e;
	transition: none;
}

.fixed header .navbar-light .navbar-nav .nav-link:before, .fixed header .navbar-light .navbar-nav .nav-link:after {
	background: #808080
}

.nav-item ul {
	display: none;

}

.nav-item:hover ul {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 0%;
	flex-flow: column;
	padding: 10px;
	position: absolute;
	top: 40px;
	left: -30%;
	width: 240px;
	min-height: 0px;
	background: #1a1a1a;
	border-radius: 3px;
	padding: 5px;
	transition: 0;
}

.nav-item:hover li {
	list-style: none;
	color: #fff;
	position: relative;
}
.nav-item:hover li a {
	padding: 10px;
	text-decoration: none;
	display: block;
}

.nav-item a {
	color: #eee;
}

.nav-item:hover li:hover {
	background: #eee2;
}

.nav-item:hover li img  {
	width: 100%;
	margin-right: 10px;
}

.nav-item:hover li span {
	display: block;
}

.nav-item:hover li span.read {
	color: var(--main-color);
}

.nav-item:hover img {
	max-width: 100%;
}

.nav-item {
	position: relative;
}

.nav-item:hover::before {
	content: '';
	width: 100%;
	height: 65px;
	position: absolute;
	top: -20px;
	left: 0;
}

.nav-item:hover::after {
	content: '';
	width: 500%;
	height: 0px;
	position: absolute;
	top: 30px;
	left: -250%;
}

.fixed .nav-item::after {
	top: 50px;
}

.nav-item li .hover {
	font-size: 1.1em;
}

header .navbar-light.dark .navbar-nav .nav-link,
header .dark .navbar-nav > li > a:hover,
header .navbar-light.dark .navbar-nav .nav-link.active {
	color: #3e3e3e!important;
	transition: none;
}
header .navbar-light.dark .navbar-nav .nav-link:before,
header .navbar-light.dark .navbar-nav .nav-link:after {
	background: #111;
}

#content {
	padding-bottom: 100px;
	line-height: 1.6em;
	letter-spacing: .1em;
}

#content .title {
	background: #f7f7f7;
	padding: 50px 0;
	text-align: center;
	position: relative;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: .5em;
	box-shadow: 1px 1px 10px #0000000f inset;
}

#content .title h1 {
	color: #2e2e2e;
}

#content .title:before {
	content: '';
	position: absolute;
	width: 20%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;
	height: 4px;
	background: #3e3e3e;
	border-radius: 5px;
}

#content img {
	max-width: 100%;
}

.non-item {
	margin-top: 80px;
}

.non-item svg {
	font-size: 5em;
	color: #5e5e5e;
}

.non-item span {
	margin-top: 30px;
	display: block;
}

#teams {
	padding: 20px 0 100px;
	background: #eee;
}

#teams {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-blend-mode: lighten;
	background-image: url(assets/img/partner_pattern.png);
	background-size: 100% 100%;
	background-position: center top;
}

#teams img {
	max-height: 300px;
	filter: grayscale(1);
	transition: 400ms all;
	display: inline-block;
	transition: 600ms filter;
}

#teams a {
	text-decoration: none;
	text-align: center;
	color: #000;
}

#teams .name {
	display: block;
	font-size: 20px;
}

#teams small {
	font-size: .8em;
	display: block;
	opacity: .7;
	text-transform: uppercase;
}

#teams img:hover {
	filter: grayscale(0);
}

header .social {
	margin-left: 140px;
}

header .social li a {
	color: #fff;
	font-size: 15px;
	margin: 0 5px;
	transition: 300ms transform;
}

.fixed header .social li a, .dark .social li a {
	color: #2e2e2e!important;
	opacity: .85!important;
}

header .select-language {
	margin-left: 40px;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.fixed header .select-language, .dark .select-language {
	color: #2e2e2e;
}

header .select-language li a:hover {
	font-size: 15px;
}

header .select-language ul {
	width: 50px!important;
	background: #fff!important;
	position: absolute!important;
	top: 30px!important;
	left: -10px!important;
	z-index: 10!important;
}

header .select-language ul li {
	width: 100%!important;
	text-align: center;
	padding: 0!important;
}

header .select-language ul li a {
	color: #000;
	padding: 3px 0!important;
	text-decoration: none;
	margin: 0!important;
	display: block;
	transition: 200ms;
}

header .select-language ul li a:hover {
	font-size: 1em;
	color: var(--main-color)
}


#product {
	padding: 20px 0 100px;
	background: #eee;
}

#product {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-blend-mode: lighten;
	background-image: url(assets/img/partner_pattern.png);
	background-size: 100% 100%;
	background-position: center top;
}

#product .product img {
	outline: 3px solid transparent;
	transition: .7s outline-offset, 1s transform;
	outline-offset: 5px;
}

#product .product:hover img {
	outline-color: white;
	transform: scale(1.1);
	outline-offset: -35px;
}

#product img {
	max-height: 300px;
	display: inline-block;
}

#product .img {
	overflow: hidden;
}

#product a {
	text-decoration: none;
	text-align: center;
	color: #000;
}

#product .name {
	display: block;
	font-size: 20px;
}

#product small {
	font-size: .8em;
	display: block;
	opacity: .7;
	text-transform: uppercase;
}

#product .product-filters {
	padding: 10px 10px;
	background: #fff;
}

#product h2 {
	font-size: 1.3rem;
	text-transform: uppercase;
	margin-top: .3em;
	margin-bottom: .5em;
	color: #3a3a3a
}

#product .product-filters label {
	color: #222;
	padding: 12px 10px;
	display: block;
	cursor: pointer;
	position: relative;
	padding-left: 26px;
	line-height: 28px;
	margin-left: 7px;
	font-size: .9em;
}

#product .product-filters label:hover input[type="checkbox"] + span {
	border-color: var(--main-color);
}

#product .product-filters input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

#product .product-filters input[type="checkbox"] + span {
	border: 1px solid #333;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-weight: 600;
}

#product .product-filters input[type="checkbox"]:checked + span::before {
	content: '✓';
	width: 20px;
	height: 20px;
	line-height: 22px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

#product .product-filters .btn {
	background: var(--main-color);
	color: #fff;
	margin-top: 20px;
	padding: 5px 20px;
	width: 100%;
}

.mobile-filter-button {
	display: none;		
}

@media screen and (max-width: 768px) {
	body {
		padding-top: 60px;
	}
	header {
		position: fixed;
		top: 0;
		width: 100%;
		background: #fff;
		z-index: 20;
		box-shadow: 1px 1px 10px rgba(0,0,0,.2)
	}

	.navbar>.container-fluid {
		height: 60px;
	}

	header .navbar-light .navbar-brand {
		padding: 0;
	}

	.navbar-light .navbar-toggler {
		border: none!important;
		box-shadow: none!important;
		padding: 0;
		font-size: 1.8em;
	}

	.navbar-collapse {
		display: block!important;
		position: fixed;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 20;
		top: 60px;
		right: -100%;
		overflow-y: scroll;
		padding-bottom: 80px;
	}

	.nav-item:hover ul {
		left: 0;
	}

	.nav-item:hover li a {
		padding: 0;
	}

	header .navbar-light .navbar-nav .nav-item:focus .nav-link:before,
	header .navbar-light .navbar-nav .nav-item:hover .nav-link:before
	{
		width: 100%;
	}

	header .nav-item {position: unset;}
	header .navbar-light .navbar-nav .nav-link,
	header .navbar-nav > li > a:hover,
	header .navbar-light .navbar-nav .nav-link.active {
		padding: 15px 0!important;
		color: #000!important;
		border-bottom: 1px solid #ccc!important;
		text-align: center!important;
		font-size: 1.4em!important;
		margin: 0!important;
	}

	.nav-item ul {
		list-style: none!important;
		display: block!important;
		padding: 0!important;
		margin-bottom: 40px!important;
		position: relative!important;
		background: #fff!important;
		width: 100%!important;
		right: unset!important;
		top: unset!important;
	}

	.nav-item ul li {
		width: 100%!important;
		padding: 15px 40px 0!important;
	}

	.nav-item ul img {
		max-width: 100%;
	}

	.nav-item li span {
		margin: 0!important;
	}

	.nav-item li .hover {
		position: relative;
		background: none;
		top: 0;
		left: 0;
		color: #000;
	}

	header .social {
		margin: 20px 0;
		text-align: center;
	}

	header .social li a{
		font-size: 2em;
		margin: 20px
	}

	.select-language,
	.fixed header .select-language,
	.dark .select-language {
		position: fixed!important;
		right: 80px!important;
		top: 17px!important;
		color: #000!important;
		font-size: 16px;
	}
	.fixed header .navbar-light .navbar-brand{
		padding: 0;
	}

	header .select-language ul {
		left: -20px!important;
		top: 40px!important;
		width: 70px!important;
		box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
		padding: 15px 0!important;
	}

	header .select-language:not(.active) ul {
		display: none!important;
	}

	header .select-language ul li a {
		font-size: 18px;
	}

	#slider {
		margin-top: 0;
	}

	#slider .swiper-slide .title {
		max-width: 70%;
		font-size: 20px;
		letter-spacing: .1em;
	}

	#slider .swiper-slide .subtitle {
		max-width: 70%;
		font-size: 18px;
	}

	#slider .swiper-slide .text {
		top: 51%;
		max-width: 70%;
	}	

	#works {
		padding: 0 20px;
	}

	#works .page-filters ul li a {
		padding:  10px 5px;
	}

	#works .page-filters {
		width: 120%;
		margin-left: -10%;
	}

	#works .projects .project-card .card-body {
		background: unset;
		color: #000;
		padding: 10px 0;
	}
	#works .projects .project-card .card-body .p-title{
		max-height: unset;
	}

	.product-filters {
		display: none;
	}

	.mobile-filter-button {
		float: right;
		border: 1px solid #5a5a5a;
		padding: 5px 10px;
		margin-top: -5px;
		border-radius: 5px;
	}

	.project-info {
		padding-left: 0!important;
	}

	#content .title {
		margin-bottom: 30px;
	}

	footer {
		padding: 10px 0;
	}

	footer .social {
		width: 100%;
	}
}
