.admin-header {
	
	border:1px solid #ddd;
	height:150px;
	background:skyblue;
}

.admin-header h2 {
	
	margin: 65px 0px 0px 30px;
	font-size:23px;
}

.uye {
	
	margin:32px;
	font-size:20px;
	color:green;
}

.admin-icerik {
	
	margin-top:20px;
	
}

.admin-menu {
	
	border:1px solid #ddd;
	width:300px;
	min-height:600px;
	background:white;
	
}

.admin-menu ul li {
	
	border:1px solid #ddd;
	padding:10px;
	font-size:20px;
}

.admin-menu ul li:hover {
	
	background:#eee;
	
}

.admin-icerik-sag {
	
	
	position:relative;
	left:315px;
	top:-601.3px;
	border:1px solid #ddd;
	width:75%;
	min-height:200px;
	background:white;
	margin-bottom:20px;
}


.admin-icerik-sag h2 {
	
	border:1px solid #ddd;
	padding:10px;
	margin:2px;
	font-size:21px;
	background:#eee;
	
}

.konular th {
	
	border:1px solid #ddd;
    padding:10px;
	font-size:19px;
	background:#eee;
}

.konular {
	
	margin:5px;
    
}

.konular td {
	
	border:1px solid #ddd;
	padding:10px;
	font-size:17px;
	
}

.konular tbody:hover {
	
	background:#eee;
	
}

.konular ul li input {
	
	
	width:400px;
	height:30px;
	font-size:18px;
}

.konular ul li select {
	
	width:150px;
	height:32px;
	font-size:18px;
	margin-top:5px;
	
}

.konular ul li textarea {
	
	width:650px;
	height:250px;
	font-size:18px;
}


.konular ul li {
	
	font-size:20px;
	font-weight:bold;
	margin:2px;
}

.konular ul li button {
	
	
	border:1px solid #ddd;
	width:130px;
	height:30px;
	margin-top:5px;
	font-size:15px;
	background:skyblue;
	cursor:pointer;
	border-radius:5px;
}


.anasayfa {
	
	
	border:1px solid #ddd;
	width:225px;
	padding:2px;
	margin:10px;
	height:100px;
	background:lightgreen;
	float:left;
}

.anasayfa h3 {
	
	border:1px solid #ddd;
	padding:5px;
	background:#eee;
	font-size:19px;
	
}

.anasayfa p {
	
	padding:5px;
	font-size:17px;
}


.surum {
	
	
	border:1px solid #ddd;
	padding:5px;
	margin:5px;
	font-size:18px;
	height:200px;
	background:#eee;
	
}


































