# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\localhost\htdocs\yönetim Paneli\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
