.pzn{
float:left;
height:auto;
color:#000;
width: 40px;
border: 1px solid navy;
margin: 2px;
padding:2px;
text-align:center;
background-color:#000;
 }
 .pzz{
text-decoration:none;	 
border: none;
background-color:#000;
color:#fff;
width: 40px;
height:30px;
 }
 
 .pzn1{
float:left;
height:auto;
width: 40px;
border: 1px solid navy;
margin: 2px;
padding:2px;
text-align:center;
background-color:#fafafa;
 }
 .pzz1{
text-decoration:none;	 
border: none;
background-color:#fafafa;
color:#000;
width: 40px;
height:30px;
 }
 
  
 .grid-form input[type="text"], .grid-form input[type="email"], .grid-form textarea, .grid-form select {
    border: 1px solid #e0e0e0;
    padding: 5px 8px;
    color: #616161;
    background: #fff;
    box-shadow: none !important;
    background: transparent;
}
.grid-form [data-row-span] [data-field-span] label:first-child {
	  font-size: 14px;
      font-weight: 800;
	  text-transform: none;
 }
 
 
.preloader_pro{ 
display:none;
position: fixed; 
left: 0; 
top: 0; 
z-index: 999; 
width: 100%; 
height: 100%; 
overflow: visible;
background: #fff url('../img/loader.gif') no-repeat center center; 
opacity:0.5;
}