RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([0-9a-zA-Z-_/şıö]+)(/?)$ index.php?adress=$1 [QSA,L]

ErrorDocument 403 /sthetics/404
ErrorDocument 404 /sthetics/404
ErrorDocument 500 /sthetics/404
